::root {
  --main-bg-blue: 95, 161, 242;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Acme", sans-serif; */
}

.container {
  background-image: url("img/16.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 9rem auto;
  grid-template-areas:
    "Nv"
    "CenterBox";
}

.CenterBox {
  grid-area: CenterBox;
  display: grid;
  align-items: center;
  justify-items: center;
}

.Nav {
  grid-area: Nv;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgba(95, 161, 242, 0.85);
}

.Title {
  color: white;
  margin: 0.4rem 0rem;
}

a.Title-Text {
  /* Need a font */
  /* font-family: "Akaya Telivigala", cursive; */
  /* font-family: "Bubblegum Sans", cursive; */
  /* font-family: "Chewy", cursive; */
  /* font-family: "Cookie", cursive; */
  font-family: "Dancing Script", cursive;
  /* font-family: "Pacifico", cursive; */
  text-decoration: none;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

a.Title-Text > img {
  position: absolute;
  z-index: 100;
  right: 28.9vw;
  width: 6rem;
  height: 6rem;
}

/* nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 0.5rem;
} */

.btn-12 {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0 1rem;
  padding: 0rem 0.6rem;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

.btn-12:before {
  content: "";
  position: absolute;
  width: 0;
  background: white;
  left: 45%;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
}

.btn-12:hover:before {
  width: 100%;
  left: 0;
}

/* .btn-nav {
  font-family: 'Oswald', sans-serif;
  margin: 0 .8rem;
  padding: 0.1rem 0.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-weight: 400;
  text-transform:uppercase;
  letter-spacing: 1px;
}

.btn-nav:hover {
  border-bottom: 2px solid white;
} */

.box {
  aspect-ratio: 5/7;
  width: 30rem;
  background-color: rgba(61, 69, 80, 0.918);
  border-radius: 0.8rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 2fr 1fr 3fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

/* h1,
h2,
p {
  color: white;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin-top: 0.9rem;
} */

h2 {
  font-family: "Acme", sans-serif;
  margin: 0;
  text-align: center;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000,
    1px 1px 0 #000;
  margin-top: 1rem;
  font-size: 3.5rem;
}

p {
  margin: 0;
  text-align: center;
  padding: 0 2rem;
  font-size: 2rem;
  line-height: 2.2rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: white;
  justify-content: center;
  margin: 1rem 2rem;
  padding: 0;
}

.social {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 1rem;
  justify-items: center;
  align-items: stretch;
}

.social-icon {
  padding: 0;
  margin: 0;
  color: white;
}

.social-icon:hover {
  color: rgba(95, 161, 242, 1);
}

.img {
  margin-top: 1rem;
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

.ProfilePic {
  background: url("img/MalinPP.jpg");
  background-size: cover;
  background-position: center;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 0px 5px 20px black;
}

.photo-text {
  font-family: "Raleway", sans-serif;
  color: black;
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  font-size: 1.75rem;
  position: absolute;
  /* top: 96vh; */
  bottom: 0.3rem;
  right: 0.3rem;
}
