::root {
  --main-bg-blue: 95, 161, 242;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1518796745738-41048802f99a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 8rem auto;
  grid-template-areas:
    "Nv"
    "CenterBox";
}

.CenterBox {
  grid-area: CenterBox;
  display: grid;
  align-items: center;
  justify-items: center;
}

.box {
  /* makes the box wide */
  width: 29rem;
  height: 29rem;
  background-color: rgba(95, 161, 242, 0.6);
  border-radius: 1.5rem;
  color: aliceblue;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: auto;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
}

h1 {
  margin-top: .9rem;
}

p {
  padding: 0 2rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: .5em 2em;
}

.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 2rem;
  justify-items: center;
  align-items: center;
}

.Nv {
  grid-area: Nv;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: rgba(119, 90, 114, 0.83);
}

.img {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  top: -3rem;
}

.ProfilePic {
  width: 14rem;
  border-radius: 50%;
}

.social-icon {
  padding: 0;
  margin: 0;
  color: white;
}

.social-icon:hover {
  color: rgb(116, 116, 116);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: .3rem;
}

.nav-item {
  color: rgba(95, 161, 242, 0.6);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
}

.custom-btn {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid rgba(95, 161, 242, 0.6);
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  margin: 20px;
  outline: none;
  text-align: center;
  text-decoration: none;
}

.btn-nav {
  position: relative;
  color: rgba(95, 161, 242, 0.6);
  z-index: 2;
  line-height: 40px;
  padding: 0;
}

.btn-nav:hover {
  border: none;
}

.btn-nav:before,
.btn-nav:after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  border: 2px solid;
  z-index: -1;
  transition: all 0.3s ease;
}

.btn-nav:before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: rgba(95, 161, 242, 0.6);
  border-left-color: rgba(95, 161, 242, 0.6);
}

.btn-nav:after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: rgba(95, 161, 242, 0.6);
  border-right-color: rgba(95, 161, 242, 0.6);
}

.btn-nav:hover:before,
.btn-nav:hover:after {
  border-color: rgba(95, 161, 242, 0.6);
  height: 100%;
  width: 100%;
}