::root {
  --main-bg-blue: 95, 161, 242;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "Raleway", sans-serif; */
  /* font-family: "Acme", sans-serif; */
}

.container {
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 9rem auto;
  grid-template-areas:
    "Nv"
    "CenterBox";
}

.CenterBox {
  justify-self: center;
  align-self: start;
  grid-area: CenterBox;
  display: grid;
  grid-template-rows: 6rem auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.card-title p {
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 6rem;
  grid-row-gap: 2em;
}

.card {
  display: grid;
  grid-template-rows: 2fr auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 5;
}

.card:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.card:nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.card:nth-child(3) {
  grid-area: 1 / 3 / 2 / 4;
}
.card:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}
.card:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}
.card:nth-child(6) {
  grid-area: 2 / 3 / 3 / 4;
}

.rabbit-img {
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card:nth-child(1) > .circel {
  background-image: url(djur/teddy.JPG);
}
.card:nth-child(2) > .circel {
  background-image: url(djur/elise.jpg);
}
.card:nth-child(3) > .circel {
  background-image: url(djur/theo.JPG);
}
.card:nth-child(4) > .circel {
  background-image: url(djur/ines.JPG);
}
.card:nth-child(5) > .circel {
  background-image: url(djur/ines.JPG);
}
.card:nth-child(5) > .circel {
  background-image: url(djur/silas.jpg);
}
.card:nth-child(6) > .circel {
  background-image: url(djur/maya.jpg);
}

.circel {
  box-sizing: border-box;
  justify-self: center;
  aspect-ratio: 1/1;
  width: 15rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border-style: solid;
  border-width: 0.35rem;
  border-color: rgb(95, 161, 242);
  background-color: rgb(95, 161, 242);
}

.circel > img {
  width: inherit;
  height: inherit;
}

.rabbit-card {
  aspect-ratio: 1/0.2;
  width: 15rem;
  background-color: rgb(95, 161, 242);
  border-radius: 0 0 0.5rem 0.5rem;
  letter-spacing: 1px;
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2.6rem;
  text-decoration: none;
  display: flex;
  flex-basis: 80%;
  align-items: center;
}

.rabbit-card::after,
.rabbit-card::before {
  content: "";
  flex-grow: 1;
  background: white;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.Nav {
  grid-area: Nv;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  background-color: rgba(95, 161, 242, 0.85);
}

.Title {
  color: white;
  margin: 0.4rem 0rem;
}

a.Title-Text {
  font-family: "Dancing Script", cursive;
  text-decoration: none;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000,
    1.5px 1.5px 0 #000;
}

a.Title-Text > img {
  position: absolute;
  z-index: 100;
  right: 28.9vw;
  width: 6rem;
  height: 6rem;
}

.btn-12 {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  display: inline-block;
  margin: 0 1rem;
  padding: 0rem 0.6rem;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

.btn-12:before {
  content: "";
  position: absolute;
  width: 0;
  background: white;
  left: 45%;
  height: 2px;
  bottom: 0;
  transition: all 0.3s;
}

.btn-12:hover:before {
  width: 100%;
  left: 0;
}

.box {
  aspect-ratio: 5/7;
  width: 30rem;
  background-color: rgba(61, 69, 80, 0.918);
  border-radius: 0.8rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 2fr 1fr 3fr 1fr 1fr 1fr;
  justify-content: center;
  align-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: white;
  justify-content: center;
  margin: 1rem 2rem;
  padding: 0;
}
